
<div class="container">
    <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center login">

        <div class="rounded bg-white shadow p-5">
            <h3>Hola {{persona}}!</h3>
            
            <div class="col-12 mt-3">
                <a href="/admin/login/logout" class="btn btn-dark">Cerrar sesión</a>
                </div>

        </div>
      
    </div>
</div>